<div class="title-bar">
    Halo Map Picker
</div>
<div class="content">
    <div class="game-container">
        <h3>Pick a Game</h3>
        <div class="game" ng-class="{selected: game === vm.selectedGame}" ng-repeat="game in vm.games" ng-click="vm.selectGame(game)">
            <span class="name">{{game.name}}</span>
            <img ng-src="{{game.portraitUrl}}" />
        </div>
    </div>
    <div ng-show="vm.selectedGame">
        <h3 id="pick-game-type">Pick a Game Type</h3>
        <button ng-repeat="gameType in vm.selectedGame.gameTypes" ng-class="{selected: gameType === vm.selectedGameType}"
            ng-click="vm.selectedGameType = gameType; vm.generateMaps()">
            {{gameType.name}}
        </button>
    </div>
    <br />
    <div ng-show="vm.selectedGame && vm.selectedGameType">
        <h3 id="maps">Maps</h3>
        <div ng-if="vm.generatedMaps">
            <div class="map" ng-repeat="map in vm.generatedMaps">
                <span class="title">
                    <span class="number">#{{$index+1}}</span>
                    {{map.name}}</span>
                <div class="image-container">
                    <img ng-src="{{map.url}}" />
                </div>
            </div>
        </div>
    </div>
</div>